{% load static %}
<html ng-app="mymodule">
<head>
  <title>Music Library</title>
  <base href="/" >
  <script type="text/javaScript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
  <script type="text/javaScript"  src="https://code.angularjs.org/1.6.4/angular-route.js"></script>
  <script type="text/javaScript"  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
  <script type="text/javaScript"  src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
  <link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" >
  <script type="text/javaScript"  src=" {% static 'scripts/script.js' %}"></script>
</head>
<body>
  <div class="row mainContent">
  <ng-view></ng-view>
</div>
</body>
</html>
